.main-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000090;
  &_block {
    padding: 15px;
    min-width: 300px;
    background: #fff8e1;
    text-align: center;
    border-radius: 10px;
    &-header {
      font-size: 20px;
    }
    &-info {
      font-size: 16px;
      text-transform: unset;
      color: #000;
    }
    &-buttons {
      display: flex;
      justify-content: space-around;
      input[type='button'] {
        background: #2c3e50;
        &:hover {
          filter: brightness(130%);
        }
      }
    }
  }
}
