// animation for transition

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

// style for button switching between components

.transition-button {
  text-transform: uppercase;
  background: #546e7a;
  font-weight: 600;
  &:hover {
    filter: brightness(130%);
    color: #263238;
  }
  &:focus {
    background: #37474f;
  }
}